[Unit]
Description="Lighthouse service"
After=network.target

[Service]
Environment="HOME=/root"
Environment="PORT=50005"
ExecStart=/usr/bin/node /root/lighthouse/dist/index.js
User=root
Group=root
Restart=on-failure
KillMode=process

[Install]
WantedBy=multi-user.target
